streamlit>=1.30.0
pandas>=1.5.0
numpy>=1.23.0,<2.0.0
yfinance>=0.2.0
scikit-learn>=1.2.0
plotly>=5.10.0
# matplotlib>=3.6.0  # Only if you explicitly use seaborn or matplotlib for st.pyplot which is not the case here
openpyxl>=3.0.0
kneed>=0.8.0
